<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title> Actualizar Actividad</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body>
    <div class="container text-justify">
        <form action="#" th:action="@{/scrum/actividades/actualizar/{id}(id=${actividad.id})}" th:object="${actividad}"
            method="post">
            <div th:switch="${historias}" class="form-group">
                <h2 th:case="null">Debe registrar Historias</h2>
                <div th:case="*">
                    <label for="historia">Historia</label>
                    <select th:field="*{history.id}" id="historia" class="form-control">
                        <option th:each="historia : ${historias}" th:value="${historia.id}" th:text="${historia.id}">
                        </option>
                    </select>
                </div>
                <span th:errors="*{history}"></span>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <input type="text" th:field="*{descripcion}" id="descripcion" placeholder="Descripción  de la Actividad"
                    class="form-control">
                <span th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></span>
            </div>
            <div class="form-group">
                <label for="fechaInicio">Fecha de Inicio</label>
                <input type="date" th:field="*{fechaInicio}" id="fechaInicio" class="form-control" />
                <span th:if="${#fields.hasErrors('fechaInicio')}" th:errors="*{fechaInicio}"></span>
            </div>
            <div class="form-group">
                <label for="horaInicio">Hora de Inicio</label>
                <input type="time" th:field="*{horaInicio}" id="horaInicio" placeholder="Hora de Inicio"
                    class="form-control">
                <span th:if="${#fields.hasErrors('horaInicio')}" th:errors="*{horaInicio}"></span>
            </div>
            <div class="form-group">
                <label for="fechaFinal">Fecha de Término</label>
                <input type="date" th:field="*{fechaFinal}" id="fechaFinal" class="form-control"
                    onchange="calcular()" />
                <span th:if="${#fields.hasErrors('fechaFinal')}" th:errors="*{fechaFinal}"></span>
                <span th:if="${errorMessage}" th:text="${errorMessage}" id="spanError">ERROR</span>
            </div>
            <div class="form-group">
                <label for="horaFinal">Hora Final</label>
                <input type="time" th:field="*{horaFinal}" id="horaFinal" placeholder="Hora Final" class="form-control">
                <span th:if="${#fields.hasErrors('horaFinal')}" th:errors="*{horaFinal}"></span>
            </div>
            <div class="form-group">
                <label for="interrupcion">Interrupción</label>
                <input type="text" th:field="*{interrupcion}" id="interrupcion" placeholder="Tiempo de Interrupción"
                    class="form-control  ">
                <span th:if="${#fields.hasErrors('interrupcion')}" th:errors="*{interrupcion}"></span>
            </div>

            <div class="form-group">
                <label for="etapa">Etapa del Desarrollo</label>
                <select th:field="*{etapa}">
                    <option th:value="'1'">Planeación</option>
                    <option th:value="'2'">Diseño</option>
                    <option th:value="'3'">Revisión de Diseño</option>
                    <option th:value="'4'">Codificación</option>
                    <option th:value="'5'">Revisión de Codificación</option>
                    <option th:value="'6'">Compilación</option>
                    <option th:value="'7'">Pruebas Unitarias</option>
                    <option th:value="'8'">postmortem</option>
                </select>
                <span th:if="${#fields.hasErrors('etapa')}" th:errors="*{etapa}"></span>
            </div>

            <div class="form-group">
                <label for="artefactos">Artefactos</label>
                <input type="text" th:field="*{artefactos}" id="artefactos" placeholder="Entidades, paginas html"
                    class="form-control">
                <span th:if="${#fields.hasErrors('artefactos')}" th:errors="*{artefactos}"></span>
            </div>
            <p><input class="btn btn-primary" type="submit" value="Actualizar">
                <a class="btn btn-secondary" href="../index">Cancelar </a>
            </p>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>

</html>