<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title> Registrar historia</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body>
    <div class="container text-justify">
        <h1>Registro de Nueva Historia</h1>
        <form action="#" th:action="@{/scrum/historias/registrar}" th:object="${historia}" method="post">
            <div class="form-group">
                <label for="id">Id</label>
                <input type="text" th:field="*{id}" id="id" placeholder="Id de la Historia" class="form-control">
                <span th:errors="*{id}"></span>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" th:field="*{nombre}" id="name" placeholder="nombre" class="form-control">
                <span th:errors="*{nombre}"></span>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <input type="text" th:field="*{descripcion}" id="descripcion" placeholder="Descripción de la Historia"
                    class="form-control">
                <span th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></span>
            </div>
            <div class="form-group">
                <label for="peso">Peso</label>
                <select th:field="*{peso}" class="form-control">
                    <option th:value="'2'" th:text="2"></option>
                    <option th:value="'4'" th:text="4"></option>
                    <option th:value="'6'" th:text="6"></option>
                    <option th:value="'8'" th:text="8"></option>
                </select>
                <span th:errors="*{peso}"></span>
            </div>
            <div class="form-group">
                <label for="usuario">Usuario</label>
                <input type="text" th:field="*{usuario}" id="usuario" class="form-control" />
            </div>
            <div th:switch="${proyectos}" class="form-group">
                <h2 th:case="null">Debe registrar Proyectos</h2>
                <div th:case="*">
                    <label for="proyecto">Proyecto</label>
                    <select th:field="*{project.id}" id="proyecto" class="form-control">
                        <option th:each="proyecto : ${proyectos}" th:value="${proyecto.id}" th:text="${proyecto.nombre}">
                        </option>
                    </select>
                </div>
                <span th:errors="*{project}"></span>
            </div>

            <div class="form-group">
                <label for="estatus">Estado del Proyecto</label>
                <!-- <input type="text" th:field="*{estado}" id="estatus" placeholder="Estado del Proyecto" class="form-control"> -->
                <select th:field="*{estado}" class="form-control">
                    <option th:value="'1'">POR HACER</option>
                    <option th:value="'2'">EN PROCESO</option>
                    <option th:value="'3'">HECHO</option>
                </select>
                <span th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"></span>
            </div>
            <input class="btn btn-primary" type="submit" value="Registrar">
            <a class="btn btn-secondary" href="index">Cancelar</a>
        </form>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>

    <script>
        function calculardiasDiscount() {
            var fechaini = new Date(document.getElementById('fechaInicio').value);
            var fechafin = new Date(document.getElementById('fechaFinal').value);
            var diasdif = fechafin.getTime() - fechaini.getTime();
            var contdias = Math.round(diasdif / (1000 * 60 * 60 * 24));
            alert(contdias);
        }

        function calcular() {
            var timeStart = new Date(document.getElementById("fechaInicio").value);
            var timeEnd = new Date(document.getElementById("fechaFinal").value);
            document.getElementById("duracion").value = 0;
            if (timeEnd > timeStart) {
                var diff = timeEnd.getTime() - timeStart.getTime();
                document.getElementById("duracion").value = Math.round(diff / (1000 * 60 * 60 * 24));
            } else if (timeEnd != null && timeEnd < timeStart) {
                alert("Verifique las fechas");
            }
        }

        function sumarFecha() {
            var fecha = new Date(document.getElementById("fechaInicio").value);
            //var dias = 2; // Número de días a agregar
            fecha.setDate(fecha.getDate() + 4);
            document.getElementById("fechaInicio").value = fecha.toDateString;
            alert(fecha)
        }
    </script>
</body>

</html>